<div>
  <div *ngIf="orders; else loadingView">
    <div>
      <button (click)="toggleSort()">Toggle</button>
    </div>
    <table>
      <tr>
        <th>Order Number</th>
        <th>Description</th>
        <th>Customer Name</th>
        <th>Total</th>
        <th></th>
      </tr>
      <tr *ngFor="let order of orders | orderSorter:'customerName':'total'; trackBy: trackOrdersById">
        <td [attr.data-id]="order.id">{{order.orderNumber}}</td>
        <td>{{order.description}}</td>
        <td>{{order.customerName}}</td>
        <td>{{order.total | currency}}</td>
        <td><a [routerLink]="['/orders', order.id]">Details</a></td>
      </tr>
    </table>
  </div>
  <div>
    <a [routerLink]="['/contactus']">Contact Us</a>
  </div>
</div>

<ng-template #loadingView>
  <h1>Data Loading!</h1>
</ng-template>
