<h1>Key Platforms List</h1>

<app-card>
  <header><h1 #header>Angular</h1></header>
  <content><a #content href="https://angular.io/">Angular</a> is the reason we're here</content>
  <footer><b #footer>Super-powered by Google</b></footer>
</app-card>

<app-card>
  <header><h1 #header style="color:red;">NodeJS</h1></header>
  <content><a #content href="https://nodejs.org/en/">NodeJS</a> powers Angular</content>
  <footer><b #footer>OpenJS foundation</b></footer>
</app-card>

<app-card>
  <header><h1 #header>Typescript</h1></header>
  <content><a #content href="https://www.typescriptlang.org/"> Typescript</a> is Microsoft's contribution</content>
  <footer><b #footer>Microsoft</b></footer>
</app-card>
